<Header class="h-60 bg-red-500">
    <h1 class="text-center">
        <span class="text-green-400">{{ name }}</span>
        <span class="text-yellow-300">{{ last }}</span>
       <p>
        <button class="plus text-black">+</button>
        <button class="content text-black">{{ count }}</button>
        <button class=" text-black">-</button>
       </p>
    </h1>
    
</Header>